<form method = "post" action = "/phone_out">
    <input type="hidden" placeholder="First Name" name="first_name">
    <input type="hidden" placeholder="Last Name" name="last_name">
    <input type="hidden" placeholder="City" name="city">
    <input type="hidden" placeholder="Street" name="street">
    <input type="hidden" placeholder="Zip Code" name="zip">
    <inputr type="hidden" placeholder="Phone Number" name="phone">
    You entered: <br>

    <h3> 
    First Name: <%= first_name %> <br>
    Last Name: <%= last_name %> <br>
    City: <%= city %> <br>
    Street: <%= street %><br>
    Zip Code: <%= zip %><br>
    Phone Number: <%= phone %> <br> 
    <h3>
    <br>
    <a href="/enter_phone"><button type="button">Enter Another</button></a>
    <input type = "submit" value= "Veiw Phone Book">
</form></center>
