<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css">
   <link rel= "stylesheet" type="text/css" href="css/style.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>PhoneBook</title>
</head> 

<body>

  <div id='cssmenu'>
 Web PhoneBook
    </ul>
    <ul id='words'>
      <li><a href='#'>Home</a></li>
      <li class='active has-sub'><a href='#'>Links</a>
        <ul>
         <li class='active'><a href='https://www.google.com/'>Google</a>
        
         <li class='active'><a href='http://www.minedminds.org/'>Mined Minds</a>

         <li class='active'><a href='https://stackoverflow.com/'>Stack Overflow</a>

      </ul>
    </li>
    <li><a href='#'>About</a></li>
    <li><a href='#'>Contact</a></li>
  </ul>
  </div>
<div id = "book">  
<table id = "book_table">

    
        <tr class = "header">
                <th style = "width: 10%;"> First Name </th>
                <th style = "width: 10%;"> Last Name </th>
                <th style = "width: 10%;"> City </th>
                <th style = "width: 10%;"> Street Address </th>
                <th style = "width: 10%;"> Zip Code </th>
                <th style = "width: 10%;"> Phone Number </th>
        </tr>
        <tr class = "header">
        
        <h3> Phone Book </h3>
    
        <input type = "text" id = "search_bar_input" onkeyup = "search_function()" placeholder = "Search your name">
            
                <% phonebook.each do |value| %>
            <tr>
                <td> <%= value['first_name'] %> </td>
                <td> <%= value['last_name'] %> </td>
                <td> <%= value['city'] %> </td>
                <td> <%= value['street'] %> </td>
                <td> <%= value['zip_code'] %> </td>
                <td> <%= value['phone_number'] %> </td>
            </tr>
            <% end %>

</table>
<a href="/enter_phone"><button type="button">Enter Another User</button></a><br>
   <form action = '/delete' method = 'post'> Enter info to delete your row: <br>
        <input type = "text" name = "user_delete" placeholder = "Type your phone number"><br>
        <input type = "text" name = "user_name" placeholder="Type your username"><br>
        <input type = "password" name = "pass_word" placeholder="Type password to confirm"><br>
        <input type = "submit" value = "Delete Entry">
    </form>

    <br>
    <br>

    <form> 
    <form action = '/update' method = 'post'> Select what to Update <br>
      <select name = 'update_choice'>
            <option value = 'new_first'> First Name </option>
            <option value = 'new_last'> Last Name </option>
            <option value = 'new_city'> City </option>
            <option value = 'new_street'> Street </option>
            <option value = 'new_zip'> Zip </option>
            <option value = 'new_phone'> Phone Number </option>
        </select>
     <br>
        <input type = "text" name = "old_entry" placeholder = "Enter old information"> <br>
        <input type = "text" name = "new_entry" placeholder = "Enter updated information"> <br>
        <input type = "text" name = "user_update" placeholder = "Type your username"><br>
        <input type = "password" name = "pass_update" placeholder ="Type password to confirm"><br>

        <input type = "submit" value = "Update Info">
    </form>
</div>


</body>
    <script>
        function search_function() {
            var user_given_search_input, uppercase_filter, table, table_row, table_cell, index_position;
            
            user_given_search_input = document.getElementById("search_bar_input")
            uppercase_filter = user_given_search_input.value.toUpperCase();
            table = document.getElementById("book_table")
            table_row = table.getElementsByTagName("tr")
            for (index_position = 0; index_position < table_row.length; index_position++) {
                table_cell = table_row[index_position].getElementsByTagName("td")[0];
                if (table_cell) {
                    if (table_cell.innerHTML.toUpperCase().indexOf(uppercase_filter) > -1) {
                        table_row[index_position].style.display = "";
                    }
                    else {
                        table_row[index_position].style.display = "none";
                    }
                }
            }
        }
    </script>
</html>